@model EverybodyCodes.Web.Models.HomeIndexModel
@{
    ViewData["Title"] = "Home Page";
}
@section Styles {
    <link rel="stylesheet" href="~/css/Home/home.css" />
}
@section Scripts {
    <script defer src="https://maps.googleapis.com/maps/api/js?key=@ViewBag.GoogleMapsAPIKey&callback=initMap"></script>
    <script src="~/js/Home/home.js"></script>
}

<h1>Security cameras Utrecht</h1>
<div id="map"></div>
<div id="source">
    source:
    <a href="https://data.overheid.nl/dataset/camera-s">https://data.overheid.nl/dataset/camera-s</a>
</div>
<main>
    <table id="cameraTableContainer">
        <tbody>
            <tr>
                <td>
                    <table id="column3">
                        <thead>
                            <tr>
                                <th colspan="4">Cameras 3</th>
                            </tr>
                            <tr>
                                <th>Number</th>
                                <th>Name</th>
                                <th>Latitude</th>
                                <th>Longitude</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.CamerasDivisor3)
                            {
                                <tr>
                                    <td>@item.Id</td>
                                    <td>@item.Name</td>
                                    <td>@item.Latitude</td>
                                    <td>@item.Longitude</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </td>
                <td>
                    <table id="column5">
                        <thead>
                            <tr>
                                <th colspan="4">Cameras 5</th>
                            </tr>
                            <tr>
                                <th>Number</th>
                                <th>Name</th>
                                <th>Latitude</th>
                                <th>Longitude</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.CamerasDivisor5)
                            {
                                <tr>
                                    <td>@item.Id</td>
                                    <td>@item.Name</td>
                                    <td>@item.Latitude</td>
                                    <td>@item.Longitude</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </td>
                <td>
                    <table id="column15">
                        <thead>
                            <tr>
                                <th colspan="4">Cameras 3 &amp; 5</th>
                            </tr>
                            <tr>
                                <th>Number</th>
                                <th>Name</th>
                                <th>Latitude</th>
                                <th>Longitude</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.CamerasDivisor35)
                            {
                                <tr>
                                    <td>@item.Id</td>
                                    <td>@item.Name</td>
                                    <td>@item.Latitude</td>
                                    <td>@item.Longitude</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </td>
                <td>
                    <table id="columnOther">
                        <thead>
                            <tr>
                                <th colspan="4">Cameras Overig</th>
                            </tr>
                            <tr>
                                <th>Number</th>
                                <th>Name</th>
                                <th>Latitude</th>
                                <th>Longitude</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.OtherCameras)
                            {
                                <tr>
                                    <td>@item.Id</td>
                                    <td>@item.Name</td>
                                    <td>@item.Latitude</td>
                                    <td>@item.Longitude</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
</main>